.containerProfile {
    width: 100%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

.containerIntro {
    position: relative;
    width: 80%;
}

.containerIntro,
.intro_top,
.intro_top_img,
.overlayImg {
    border-radius: 12px;
}

.overlayImg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
}

.intro_top_img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: brightness(0.7);
    object-position: 0 35%;
    border-radius: 6px;
}

.intro_detailsUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circleImg {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 999px;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242526;
}

.userImg {
    width: 195px;
    height: 195px;
    border-radius: 999px;
    border: 1px solid #605c5c;
}

.circleCamera {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 10%;
    right: 5px;
    background-color: #242526;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconCamera {
    color: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.detailsUser_Name,
.detailsUser_Email {
    color: #fff;
}

.detailsUser {
}

.detailsUser_Name {
    color: #000;
    font-size: 32px;
}

/* upLoadFile */

.overlayContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    opacity: 0.8;
    /* background-image: linear-gradient(to bottom, #101011, transparent); */
    z-index: 999;
}

.upFileContainer {
    position: absolute;
    width: 1000px;
    height: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7b7777;
    box-shadow: 10px 10px 20px #323131;
    z-index: 999;
    border-radius: 8px;
}

.containerImgTop {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleUpImg {
    color: #fff;
}

.containerImgBottom {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.uploadButton {
    display: block;
    margin-top: 20px;
    width: 80%;
    height: 45px;
    display: block;
    border-radius: 8px;
    background-color: #4b5a47;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.setUpSizeImg {
    margin-top: 20px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.confirmButton {
    position: absolute;
    right: 5%;
    bottom: 3%;
    width: 20%;
    height: 45px;
    border-radius: 8px;
    background-color: #4b5a47;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.uploadButton label,
.confirmButton label {
    cursor: pointer;
}

.hiddenUpFile {
    display: none;
}

.iconClose {
    position: absolute;
    right: 2%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #fff;
}

/* Bill */
.containerBill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 40px 0 40px 0;
}

.bill {
    font-size: 30px;
    margin: 0 0 20px 0;
}

.container__bill {
    border: 1px solid #949090;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 210px;
    border-radius: 8px;
}

.container__bill + .container__bill {
    margin-top: 10px;
}

.frame__bill {
    width: 90%;
    height: 90%;
    display: flex;
}

.img__bill {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image__bill {
    width: 127.6px;
    height: 180.95px;
}

.info__bill {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.name__book__bill {
    margin: 0 0 5px 0;
    font-size: 24px;
}

.date__bill,
.number__sold,
.address__bill,
.sdt__bill {
    margin-bottom: 5px;
}

.price__one__book {
    color: red;
    font-size: 20px;
    margin-bottom: 5px;
}

.total__book {
    margin-top: auto;
    display: flex;
    align-items: center;
}

.total__bill {
    color: red;
    font-size: 20px;
}

.regain {
    margin-left: auto;
    width: 100px;
    height: 40px;
    outline: none;
    background-color: #fbebed;
    border: 1px solid #d0011b;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.regain:hover {
    background-color: red;
    color: #fff;
}
