.heading {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.header-top {
    width: 100%;
    height: 70px;
    background: url("../../images/banner.jpg") no-repeat;
    background-position: center;
}

.header-bottom {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #e7e7e7;
}

.headingTitle {
    width: 25%;
    height: 100%;
    line-height: 80px;
}

.titleWebBook {
    display: inline-block;
    font-size: 32px;
    float: right;
    line-height: 80px;
    margin: 0;
}

.headingUser {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.managerBook {
    margin-right: 15px;
}

.iconShopping {
    font-size: 35px;

    color: orange;
}

.manager__book,
.stat,
.iconCart,
.iconUser,
.stat__book,
.numCart,
.username {
    line-height: 80px;
}

.manager__book,
.stat__book,
.numCart,
.username {
    margin: 0;
}

.manager__book,
.stat__book {
    font-size: 20px;
}

.stat__book {
    margin: 0 20px 0 20px;
}

.iconCart {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.numCart {
    margin-left: 5px;
    font-size: 20px;
}

.iconUser {
    position: relative;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.username {
    color: orange;
    font-size: 20px;
}

.iconDown {
    cursor: pointer;
    margin-left: 10px;
    font-size: 25px;
}

.logout {
    display: none;
    cursor: pointer;
    position: absolute;
    border-radius: 12px;
    background-color: #e7e7e7;
    top: 80%;
    box-shadow: 4px 4px 10px #000;
}

.logout.active {
    display: block;
}

.listItem {
    width: 100px;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}
