.grid_img {
    background: url(../../images/backgroundLogin.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    filter: blur(10px);
}

.container_img {
    width: 70%;
    position: absolute;
    background: url(../../images/backgroundLogin.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 700px;
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.container-left-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 50%;
}

.text-title {
    width: 300px;
    animation: typing 3s steps(20) infinite,
        blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-weight: 200;
    font-size: 40px;
    letter-spacing: 1px;
    color: rgb(14, 247, 255);
}

.text-desc {
    width: 600px;
    margin-top: 100px;
    /* white-space: nowrap; */
    overflow: hidden;
    border-right: 3px solid;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: monospace;
    color: rgb(14, 247, 255);
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.container-right {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(2px);
}

.container-signin {
    position: absolute;
    width: 50%;
    height: 60%;
}

.text-center {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 60px;
}

.container-input {
    position: relative;
    width: 100%;
    height: 70px;
}

.text-label {
    position: absolute;
    color: #fff;
    top: -22px;
    left: 0;
}

.container-input + .container-input {
    margin: 15px 0 10px;
}

.text-input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    color: #000;
    font-size: 16px;
    border-radius: 4px;
}

.text-error {
    margin-top: 4px;
    color: yellow;
}

.link-to-signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-to-signup p {
    color: #fff;
    margin-right: 5px;
}

.link-signup {
    color: greenyellow;
    font-size: 18px;
}

.btn-signin {
    cursor: pointer;
    display: block;
    margin: 25px auto 0;
    width: 35%;
    height: 40px;
    font-size: 16px;
    border-radius: 6px;
    outline: none;
    border: none;
}

.btn-signin:hover {
    background-color: #ccc;
}

.text-to-signup {
    text-align: center;
    color: #fff;
}

/* alert */
.alert {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
    background-image: url("../../images/backgroundLogin.jpg");
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInn ease-in-out 3s;
    transition: 3s;
    border: 1px solid #ffddf6;
    border-left: none;
    border-radius: 8px;
    box-shadow: 16px 16px 30px rgb(205, 44, 44);
}

.alert_icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}

.alert_success::before {
    content: "";
    background-color: #85ffbd;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
}

.alert_danger::before {
    content: "";
    background-color: red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
}

.iconSuccess {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #85ffbd;
}

.iconDanger {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 999px;
    color: red;
}

.alert_message {
    font-size: 20px;
    color: yellow;
}

@keyframes fadeInn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
